@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;600;700;900&display=swap');

*{
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
    width:80%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.About{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.About .card {
position: relative;
width: 450px;
height: 400px;
background: #BCD9E6;
margin: 20px;
box-shadow: 0 15px 35px rgba(0, 0, 0, 0.10);
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
backdrop-filter: blur(10px);
}

.About .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.75;
    transition: 0.5s;
}

.About .card:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}

.About .card .content .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #52829840;
}

.About .card .content .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.About .card .content .contentBx h3{
    color: #528298;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 1.3em;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.About .card .content .contentBx h3 span{
    font-size: 12px;
    font-weight: 600;
    text-transform: initial;
}


.About .card .sci{
position: absolute;
bottom: 50px;
margin-left: -35px;
margin-right: 0;
display: flex;
}

.About .card .sci li{
    list-style: none;
    margin: 0 5px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}

.About .card:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}

.About .card .sci li a{
    color: #528298;
    font-size: 24px;
}

.AboutContent{
    width: 80%;
    color: #528298;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: capitalize;
    background-color: #BCD9E6;
    border-radius: 15px;
    padding: 25px;
    border: 1px solid #52829840;
    float: center;
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:100px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.10);

}

input[type="text"]
{
    font-weight:600;
}

input[type="number"]
{
    font-weight:600;
}

input[type="tel"]
{
    font-weight:600;
}

input[type="email"]
{
    font-weight:600;
}

input[type="phonenumber"]
{
    font-weight:600;
}

select option
{
    font-weight:600;
}

input[type="datetime-local"]
{
    font-weight:600;
}