.input {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 60rem;
    font-weight: bold; 
  }
  
  .input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
  }
  
  .input input:focus {
    outline: none;
    border-color: var(--first_color);
  }
  