.button {
    font: inherit;
    border: 1px solid var(--first_color);
    background: var(--first_color);
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    font-weight: bold; 
  }
  
  .button:hover,
  .button:active {
    background: var(--first_color);;
    border-color: var(--first_color);;
  }
  
  .button:focus {
    outline: none;
  }