:root{
    --first_color:#528298;
    --second_color:#BCD9E6;
    --light_color:#ffffff;
    --dark_color:#303030;
    --font_family:'Cairo', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;600;700;900&display=swap');


.contactContainer{
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.10);
    margin-top: 40px;
    margin-bottom: 30px; 
    font-family: var(--font_family);
    padding-left: 30px;
    width: 80%;
}
.formRow{
    padding: 10px;
}
.input{
    border:none;
    border-bottom: 1px solid #528298;
}
.inputLabel{
    color: #528298;
    font-size: 20px;
    font-weight: 800;
}
    
.Contactinfo{
    border-radius: 30px ;
    /* background-image: url(../Images/contact2.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: auto;
    margin-bottom: auto; */
}
.icon:hover{
    color: var(--second_color);
    
    
    
} 

.icon{
    font-size: 30px;
    color: var(--first_color);
}

.contactway{
    font-size: 17px;
    color: #000;
    font-weight: 700;
    padding-top: 10px;
    text-decoration: none;

}
.contactway:hover{
    color: var(--first_color);

}
.button{
    background-color: var(--first_color);
    color: var(--light_color);
    font-weight: 600;
    padding: 13px 12px;
    width: 250px;
    font-size: 1.5em;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
    
}
.button:hover{
    background-color:var(--fourth_color);
    color: var(--light_color);
    
}
h1{
    color: var(--dark_color);
    padding-top: 40px;
    font-weight: 900;
    font-size:70px;
    text-transform: uppercase;
}
.contactinfo2{
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (max-width: 719px){
    .contactimg{
        display:none;
    }
}

