@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;600;700;900&display=swap');
:root{
  --first_color:#528298;
  --second_color:#BCD9E6;
  --light_color:#ffffff;
  --dark_color:#303030;
  --font_family:'Cairo', sans-serif;
}
*{
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
  }

#navbar_container{

  margin-left: 160px;
  width:1200px;
  margin: top 100px;
  
}
.navbarcontainer{
  margin: 100px;
}
#searchfield
{
  height: 2.5rem;

}
.nav-link {
  height: 2.5rem;
  color:var(--first_color);
}
.nav-link:hover
{
  color: #70a1b8;

}
#searchbtn {
  background-color: #528298;
  color: #ffffff;
  cursor: pointer;
  height: 3rem;
  width: 250px;
  font-size: 20px;
  border-radius: 10px;
  font-weight:600 ;
  border: none;
  display: block;
  text-decoration: none;
}
#searchbtn:hover {
   
  background-color: #70a1b8;
}
#createpatientForm {
    margin-top: 40px;
    padding:30px;
    color:var(--first_color);
    font-size: 20px;
    font-weight: 600;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.10);
    padding-top: 20px;
    width:90%;
}
#createpatientForm input{
  border-radius: 10px;
  min-height: 50px;
}
#createpatientForm select{
  border-radius: 10px;
  min-height: 50px;
}
#header_form {
  color: #528298;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;

}
#medical_details {
  text-align: left;
  color: #528298;
  font-weight: bold;
  margin-top: 20px;
}

#personal_information
{
  text-align: left;
  color: #528298;
  font-weight: bold;
}
