.bodycontent{
    top: 0;
    position: absolute;
    height: 100%;
    width: calc(100% - 110px);
    left: 110px;
    transition: all 0.5s ease;
    z-index: -1;
}

.bodycontent .text{
    font-size: 25px;
    font-weight: 600;
    color: #132b36;
    margin: 12px;
}

.sidebar.active ~ .bodycontent{
    width: calc(100% - 280px);
    left: 280px;
    z-index: 0;
}