.header{
    margin: 20px;
	font-size:10vw;
	width: 50%;
    max-width: 50%;
	height: 10vh;
   
	text-align: center;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .header{
        width: 50%;
        max-width: 50%;
        height: 10px;
        font-size:10vw;
      
    }
}
