.formPart{
    margin-top: 100px;
    width:90%;
    color:var(--third_color);
    font-size: 20px;
    font-weight: 600;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.10);
    padding-top: 20px;
}
.formPart label:hover{
    color:var(--second_color)
}
.formPart input{
    border-radius: 10px;
    min-height: 50px;
}
.formPart .prescriptionButton{
    margin-bottom: 20px;
    background-color: var(--first_color);
    color: var(--light_color);
    font-weight: 600;
    padding: 13px 12px;
    width: 250px;
    font-size: 20px;
    border-radius: 10px;
}
.formPart select{
    border-radius: 10px;
    min-height: 50px;
}
.prescriptionPart{
    border:2px solid white;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    min-height: 800px;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.10);
}
.formPart .prescriptionButton:hover{
    background-color: var(--light_color);
    color:var(--third_color);
    border: 3px solid var(--third_color);

}
.doctor-presc-info{
    background-color: var(--third_color);
    border-bottom:10px solid var(--second_color);
    border-radius: 0 0 50% 50%;
    
}