@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;600;700;900&display=swap');

*{
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
  }
.main-signup {   
    min-height: 90vh;
    min-width: 90vw;
    overflow: hidden;
}

.main-signup .signup-conatiner{
    height: 75vh;
    width: 70% ;
    background: linear-gradient(to right , #528298 , #ffffff 55%);
    border-radius: 10;
    margin: 2rem auto ;
    box-shadow: 0.5rem 0.5rem 2rem -1rem #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.main-signup .signup-conatiner Link {
    text-decoration: none;
    color: #528298 ;
}
.main-signup .signup-conatiner .right-side , .left-side {
    height: 80%;
    width: 100%;

}
#Form_Title {
    text-align: center;
    color: #528298;
    font-size: 30px;
    font-weight: 700;
}
.main-signup .signup-conatiner .right-side 
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.main-signup .signup-conatiner .right-side .img-class
{
    object-fit: cover;
}
.main-signup .signup-conatiner input
{
    display: block;
    width: 350px; 
    height: 3rem;
    border-color: #BCD9E6;
    border-radius: 15px;
    padding: 10px;
    font-weight:600 ;
}
.main-signup .signup-conatiner input:focus
{
    outline: none;
    border: none;
}
.main-signup .signup-conatiner label
{
    display: block;
    width: 70% ; 
    padding: 5px;
    float: left;
    transition: all 0.3 ease;

}
.main-signup .signup-conatiner .btn {
    background-color: #528298;
    color: #ffffff;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 15px;
    width: 350px; 
    height: 3rem;
    font-weight:600 ;
    border: none;
    display: block;

}
.main-signup .signup-conatiner .btn:hover {
     
    background-color: #70a1b8;
}
.main-signup .signup-conatiner .left-side
{
    text-align: center;
    align-items: center;
    align-content: center;
}
.main-signup .signup-conatiner .left-side .welcomeImg 
{
    height: 60%;
    width: 80%;
    margin: 0rem auto ;
    align-content: center;
}

#welcomeNote {
    color: #ffffff ;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 70;
    margin-bottom: 50px;
}
#signupImg
{
    float: left;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#social-text 
{
    font-size: 20px;
    font-weight: 700;
    padding-top: 1.5rem;
    color: var(--first_color);
}
#social-media a {
    padding: 10px;
    color: var(--first_color);
}
#social-media a:hover{
    color: #70a1b8;
}
#linkform {
    color: var(--first_color);
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
}
#linkform:hover{
   
    color: #70a1b8;
}
#footerLink
{
    font-weight:600 ;  
    font-size:20 
}
/* Responsive */ 
@media (max-width:1056px)  {

    #formSign
    {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
.main-signup .signup-conatiner input 
{
   
    width: 200px; 
}
.main-signup .signup-conatiner .btn
{
    width: 200px; 
}
}
@media (max-width:975px) {
    .main-signup .signup-conatiner input {
        width: 350px; 

    }
    .main-signup .signup-conatiner .btn {
        width: 350px; 

    }
    .main-signup .signup-conatiner {
        align-items: center;
        text-align: center;
    }
    #leftSide {
        display: none;
    }
}
@media (max-width:561px)  {
    .main-signup .signup-conatiner {
        align-items: center;
        text-align: center;
        height: 75vh;
        width: 80% ;

    }
}
@media (max-width:462px)  {
    .main-signup .signup-conatiner input {
        width: 150px; 

    }
    .main-signup .signup-conatiner .btn {
        width: 150px; 

    }

}
@media (max-width:260px)  {
    .main-signup .signup-conatiner input {
        width: 100px; 
        font-size: 10px;

    }
    .main-signup .signup-conatiner .btn {
        width: 100px; 

    }
    #Form_Title {
        font-size: 20px;
        font-weight: 700;
    }

}
@media (max-width:192px) {
   
    #Form_Title {
        font-size: 10px;
    }
    #footerLink
    {
        font-size:10 
    }
}
@media (max-width:158px) {
    #Form_Title , #linkform{
        font-size: 5px;
    }
    #footerLink
    {
        font-size:15px
    }


}
@media (max-width:150px) {
    .main-signup .signup-conatiner input {
        width: 50px; 
        height: 30px;
        font-size: 5px;

    }
    .main-signup .signup-conatiner .btn {
        width: 50px; 
        height: 30px;
        font-size: 5px;

    }
    #Form_Title , #linkform{
        font-size: 5px;
    }
    #footerLink
    {
        font-size:15px
    }


}