@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;600;700;900&display=swap');

body{
  font-family: 'Cairo', sans-serif;
}
:root{
  --first_color:#528298;
  --second_color:#BCD9E6;
  --light_color:#ffffff;
  --dark_color:#303030;
  --font_family:'Cairo', sans-serif;
}


.title{
  color: var(--first_color);
}
.s{
    color: var(--dark_color);
    font-weight: 900;
    text-align: center;
    font-size: 80px;
    margin-top: -30px;
    
}
.d{
    text-align: center;
    font-size: 22px;
    color: var(--first_color);
    
}
.card-title{
    font-weight: bold;
    
    
}



.card-text{
    font-weight: 600;
    text-align: center;
}
#card_services{
    border-radius: 10px;
    /* box-shadow:0 15px 35px #BCD9E6;; */
    background-color: var(--second_color);
}
#btn_services{
    background-color: var(--first_color);
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 550;
    
}
#btn_services:hover{
    background-color: var(--second_color);
}
#card_services:hover{
    background-color: var(--first_color);
    color: var(--light_color);
    
}
.services_all{
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr;
    display: grid;
    
}
#c1{
    margin-top: 30px;
}
#cc{
    border: none;
}