
.Card__bg{
    /*  background-color: var(--first_color);*/
     /* color: var( --first_color) !important;*/
      font-weight: var(--font_weight_bold);
      border-color: var(--first_color)
  }
  .Card__Title{
      text-align: center;
     /* height: 3rem;*/
      font-size: 45px;
      color: var( --first_color);
      font-weight: var(--font_weight_bold);
  }
  .Card__Subtitle{
      text-align: center;
   /*  background-color: var( --second_color); */
   font-size: 35px;
   font-weight: var(--font_weight_bold);
       
  }
  .Card__list{
      font-size: 20px;
      font-weight: var(--font_weight_bold);
  }
  .Card__Button{
      background-color:var(--first_color);
      border: none;
      color: var(--light_color);
      text-align: center;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      font-size: 16px;
      padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: var(--font_weight_bold);
  
  }
  .Card__Button:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .span__Egy{
      font-size: 20px;
      font-weight: var(--font_weight_bold);
  }
  .span__Per{
      font-size: 35px;
      font-weight: var(--font_weight_bold);
      font-style: oblique;
  }