
.Card__bg{
    /*  background-color: var(--first_color);*/
     /* color: var( --first_color) !important;*/
      font-weight: bold;
      border-color: var(--first_color);
      border-radius: 10px;
  }
  .Card__Title{
      text-align: center;
     /* height: 3rem;*/
      font-size: 45px;
      color: var( --first_color);
      font-weight: bold;
  }
  .Card__Subtitle{
      text-align: center;
   /*  background-color: var( --second_color); */
   font-size: 35px;
   font-weight: var(--font_weight_bold);
       
  }
  .Card__list{
      font-size: 20px;
      font-weight: bold;
  }
  .Card__Button{
    background-color: var( --first_color);
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 550;
    width: 100px;
    height: 50px;

  
  }
  .Card__Button:hover{
    background-color: var(--second_color);
  }
  .span__Egy{
      font-size: 20px;
      font-weight: bold;
  }
  .span__Per{
      font-size: 35px;
      font-weight: bold;
      font-style: oblique;
  }