.Body__Packages{
    font-family: var(--font_family);
    font-weight: bold;
}
.Packages__heading{
    text-align: center;
    font-size: 50px;
    color: var(--first_color) ;  
    font-weight: bold; 
    
}
.Body__Packages{
    text-align: center;
    font-weight: bold;
}