@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;600;700;900&display=swap');

body{
  font-family: 'Cairo', sans-serif;
}
:root{
  --first_color:#528298;
  --second_color:#BCD9E6;
  --light_color:#ffffff;
  --dark_color:#303030;
  --font_family:'Cairo', sans-serif;
}

